@model Credi_Gestion.Models.ClientePrestamo

<h1 style="font-family:Constantia;font-size:xx-large ;color:lightgreen;text-align:justify">ingresar nuevo pago</h1>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: aquamarine;
        height: 100vh;
    }
    * {
        box-sizing: border-box;
    }

    #buscar {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid rgb(255 255 255 / 90%);
        margin-bottom: 12px;
    }

    #Prestamo {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #Prestamo th, #Prestamo td {
            text-align: left;
            padding: 12px;
        }

        #Prestamo tr.header_fijo {
            border-bottom: 0px solid #ddd;
        }

        #Prestamo tr.header_fijo, #Prestamo tr:hover {
            background-color: #f1f1f1;
        }

    thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .inner-addon {
        position: relative;
    }

        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    .left-addon .glyphicon {
        left: 0px;
    }


    .left-addon input {
        padding-left: 30px;
    }

    }
</style>
<form asp-action="GuardarPago" style="font-family:Constantia" ; font-size:large; color:lightseagreen">

    <div class="col-sm-6">

        <div>
            <label for="selectcliente">Cliente:</label>
            <select class="form-control Idcliente" id="selectcliente">
                @{
                    foreach (var item in Model.Clientes)
                    {
                        <option selected value="@item.IdCliente">@item.NombreCliente @item.Apellidos </option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-sm-6">

        <label class="col-form-label">Deuda Inicial:</label>
        @{
            foreach (var prestamo in Model.Prestamos)
            {
                <input class="form-control" type="text" value="@prestamo.Saldo" placeholder="Monto" />
                <input type="hidden" Id="IdPrestamo" value="@prestamo.IdPrestamo" />
            }

           
        }


    </div>
    <div class="col-sm-6">

        <label class="col-form-label">Saldo Pendiente:</label>
        @{
            foreach (var prestamo in Model.Prestamos)
            {
                <input class="form-control SALDO" type="text" value="@prestamo.Saldo" name="Saldo" placeholder="Saldo" />
            }
        }


    </div>


    <div class="col-sm-6">

        <label class="col-form-label">Cantidad a Abonar:</label>
        <input class="form-control Montopagado" name="MontoPagado" type="text" placeholder="Ingrese la cantidad" />

    </div>
    <div>
        <a id="btnGuardaC" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
        <input style="margin:10px" type="submit" asp-controller="Cliente" asp-action="Pagos" value="Cancelar" class="btn btn-secondary mx-auto">
    </div>



</form>
@section Scripts {
    <script src="~/js/NuevoPago.js"></script>
}





