@model Credi_Gestion.Models.ClientePrestamo

@{ 
    ViewData["Title"] = "Home Page";
}

<div class="alert-dark">
    <h1 class="text-center table-bordered" >
        Listados de Prestamos
    </h1>
</div>
<div class="table-responsive">
    <table id="Prestamo" class="table table-bordered header_fijo" style="background-color:aqua" overFlow="scroll">
        <thead class="thead-dark" id="tableheader">
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Moneda
                </th>
                <th>
                    Plazo
                </th>
                <th>
                    Interés
                </th>
                <th>
                    Monto TotaL
                </th>
                <th>
                    Saldo Inicial
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Opciones
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var ClientePrestamo in Model.Prestamos)
                {
                        <tr>
                            <td>
                                @{
                                    var cliente = Model.Clientes.Where(a => a.IdCliente == ClientePrestamo.IdCliente).FirstOrDefault();

                                    <span>@(cliente.NombreCliente + " " + cliente.Apellidos)</span>
                                }
                            </td>

                            <td>@ClientePrestamo.Monto</td>
                            <td>@ClientePrestamo.Moneda</td>
                            <td>@ClientePrestamo.Plazo</td>
                            <td>@ClientePrestamo.interes</td>
                            <td>@ClientePrestamo.MontoTotal</td>
                            <td>@ClientePrestamo.Saldo </td>
                            <td>@ClientePrestamo.Estado</td>


                            <td>
                                <a class="btn btn-success" asp-action="VerPagosPrestamo" asp-route-IdPrestamo="@ClientePrestamo.IdPrestamo" asp-route-IdCliente="@ClientePrestamo.IdCliente">Ver Pagos</a>
                                @{
                                    if (ClientePrestamo.Estado != "Pagado")
                                    {
                                        <a class="btn btn-outline-success" asp-action="NuevoPago" asp-route-IdPrestamo="@ClientePrestamo.IdPrestamo" asp-route-IdCliente="@ClientePrestamo.IdCliente">Nuevo Pago</a>
                                    }
                                }
                            </td>


                        </tr>


                }
            }
        </tbody>

        </table>
    <div>
        
        <a class="btn  btn-outline-success" asp-controller="Cliente" asp-action="CrearPrestamo">Nuevo Prestamo</a>
    </div>
</div>