@model List<Credi_Gestion.Models.Prestamo>

@{ 
    ViewData["Title"] = "Home Page";
}

<div class="alert-dark">
    <h1 class="text-center table-bordered" >
        Listados de Prestamos
    </h1>
</div>
<div class="table-responsive">
    <table id="Prestamo" class="table table-bordered header_fijo" style="background-color:aqua" overFlow="scroll">
        <thead class="thead-dark" id="tableheader">
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Moneda
                </th>
                <th>
                    Plazo
                </th>
                <th>
                    Interés
                </th>
                <th>
                    Monto TotaL
                </th>
                <th>
                    Saldo Inicial
                </th>
            </tr>
        </thead>
        <tbody>
            @{ 
                foreach (var Prestamo in Model)
                {
                        <tr>
                            <td>@Prestamo.Monto</td>
                            <td>@Prestamo.Moneda</td>
                            <td>@Prestamo.Plazo</td>
                            <td>@Prestamo.interes</td>
                            <td>@Prestamo.MontoTotal</td>
                            <td>@Prestamo.Saldo </td>
                          



                        </tr>
                        

                    }
                }
        </tbody>

    </table>
</div>